@font-face {
    font-family: 'nunito-extralight';
    src: url('../font/NunitoSans_10pt-ExtraLight.ttf');
}
@font-face {
    font-family: 'nunito-extralight-it';
    src: url('../font/NunitoSans_10pt-ExtraLightItalic.ttf');
}
@font-face {
    font-family: 'nunito-light';
    src: url('../font/NunitoSans_10pt-Light.ttf');
}
@font-face {
    font-family: 'nunito-light-it';
    src: url('../font/NunitoSans_10pt-LightItalic.ttf');
}
@font-face {
    font-family: 'nunito-regular';
    src: url('../font/NunitoSans_10pt-Regular.ttf');
}
@font-face {
    font-family: 'nunito-regular-it';
    src: url('../font/NunitoSans_10pt-Italic.ttf');
}
@font-face {
    font-family: 'nunito-medium';
    src: url('../font/NunitoSans_10pt-Medium.ttf');
}
@font-face {
    font-family: 'nunito-medium-it';
    src: url('../font/NunitoSans_10pt-MediumItalic.ttf');
}
@font-face {
    font-family: 'nunito-semibold';
    src: url('../font/NunitoSans_10pt-SemiBold.ttf');
}
@font-face {
    font-family: 'nunito-semibold-it';
    src: url('../font/NunitoSans_10pt-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'nunito-bold';
    src: url('../font/NunitoSans_10pt-Bold.ttf');
}
@font-face {
    font-family: 'nunito-bold-it';
    src: url('../font/NunitoSans_10pt-BoldItalic.ttf');
}
@font-face {
    font-family: 'nunito-extrabold';
    src: url('../font/NunitoSans_10pt-ExtraBold.ttf');
}
@font-face {
    font-family: 'nunito-extrabold-it';
    src: url('../font/NunitoSans_10pt-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'nunito-black';
    src: url('../font/NunitoSans_10pt-Black.ttf');
}
@font-face {
    font-family: 'nunito-black-it';
    src: url('../font/NunitoSans_10pt-BlackItalic.ttf');
}
.nunito-extralight{
    font-family: 'nunito-extralight', sans-serif !important;
}
.nunito-extralight-it{
    font-family: 'nunito-extralight-it', sans-serif !important;
}
.nunito-light{
    font-family: 'nunito-light', sans-serif !important;
}
.nunito-light-it{
    font-family: 'nunito-light-it', sans-serif !important;
}
.nunito-regular{
    font-family: 'nunito-regular', sans-serif !important;
}
.nunito-regular-it{
    font-family: 'nunito-regular-it', sans-serif !important;
}
.nunito-medium{
    font-family: 'nunito-medium', sans-serif !important;
}
.nunito-medium-it{
    font-family: 'nunito-medium-it', sans-serif !important;
}
.nunito-semibold{
    font-family: 'nunito-semibold', sans-serif !important;
}
.nunito-semibold-it{
    font-family: 'nunito-semibold-it', sans-serif !important;
}
.nunito-bold{
    font-family: 'nunito-bold', sans-serif !important;
}
.nunito-bold-it{
    font-family: 'nunito-bold-it', sans-serif !important;
}
.nunito-extrabold{
    font-family: 'nunito-extrabold', sans-serif !important;
}
.nunito-extrabold-it{
    font-family: 'nunito-extrabold-it', sans-serif !important;
}
.nunito-black{
    font-family: 'nunito-black', sans-serif !important;
}
.nunito-black-it{
    font-family: 'nunito-black-it', sans-serif !important;
}