.categoryCardWrap{
    width: max-content;
}

.categoryCardWraper{
    width: 100%;
    overflow-x: auto;
}

.categoryCardWraper::-webkit-scrollbar{
    display: none;
}

.productCardWrap{
    width: max-content;
}

.productCardWraper{
    overflow-x: auto;
    width: 100%;
}

.productCardWraper::-webkit-scrollbar{
    display: none;
}